body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

.navlist,
.navlinks,
.btn,
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

#click {
  display: none;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
}

.nav__links {
  list-style: none;
}

.nav__links .navlist {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__links .navlist .navlinks {
  transition: all 0.3s ease 0s;
}

.nav__links .navlist .navlinks:hover,
.active {
  color: #6e65f4;
}

.btn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.menu_btn {
  color: white;
  display: none;
  cursor: pointer;
  padding-left: 10px;
}

.ourgame {
  padding-top: 100px;
}

.ct {
  display: flex;
  padding-top: 60px;
  color: whitesmoke;
  font-size: 20px;
  justify-content: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: 50px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: whitesmoke;
  text-decoration: none;
  justify-content: center;
}

.play-btn {
  padding-top: 40px;
}

@media (max-width: 1250px) {
  .ct {
    padding-left: 20px;
    padding-right: 20px;
    width: 80px;
  }
}

@media (max-width: 1250px) {
  .nav__links {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #24252a;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .cta {
    display: inline-flex;
    position: fixed;
    bottom: 80px;
    width: 100vw;
    left: -100;
    justify-content: center;
    transition: all 0.3s ease;
  }

  #click:not(:checked) ~ .nav__links {
    left: -100%;
  }

  #click:not(:checked) ~ .cta {
    left: -100%;
  }

  #click:checked ~ .nav__links {
    left: 0%;
  }

  #click:checked ~ .cta {
    left: 0%;
  }

  #click:checked ~ .menu_btn i:before {
    content: "\f00d";
  }

  .nav__links .navlist {
    display: block;
    margin-top: 40px;
  }

  .menu_btn {
    display: inline-block;
  }
}

.forms {
  width: 50%;
}

.forms label {
  font-size: 1.2rem;
}

.input,
textarea,
.btn {
  width: 100%;
  padding: 0.5em;
  border: none;
  font-size: 1.2rem;
  color: white;
}
input[type="text"],
input[type="email"],
textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  height: 6em;
}
input[type="submit"],
.btn {
  background: #4570f3;
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover,
.btn:hover {
  background: #6c63e8;
}
label {
  color: white;
}

.contact {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.ct-form {
  padding-top: 80px;
}

.game-area {
  padding-top: 100px;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
*/ .navlinks:hover {
  color: #6e65f4;
}

.navlinks:focus-within {
  color: #6e65f4;
}

.about-page {
  padding-top: 100px;
}

.pitch-deck {
  padding-top: 100px;
}

table {
  border-collapse: collapse;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
  color: whitesmoke;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.table-heading {
  color: #6c63e8;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.table-ct {
  display: flex;
  color: whitesmoke;
  font-size: 20px;
  justify-content: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

@media (max-width: 1250px) {
  .table-ct {
    width: 250px;
  }
}

.search-bar {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  appearance: none;
  background: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 17px 17px;

  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  border: 3px solid #6c63e8;
}

footer {
  background: #1a1e25;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}
